html {
  overflow: hidden;
  margin: 0;
  padding: 0;
    body {
        padding: 0;
        margin: 0;
    }
}

.app {
  padding: 0;
  margin: 0;
  overflow: hidden;
  .main-wrap {
    height: 100%;
    overflow: auto;
  }
}